/chave-primária-composta/chave-composta-idClass/chave-composta-idClass/nbproject/private/
/chave-primária-composta/chave-composta-idClass/chave-composta-idClass/build/
/chave-primária-composta/chave-composta-idClass/chave-composta-idClass/dist/
/chave-primária-composta/chave-composta-idClass/heranca/nbproject/private/
/chave-primária-composta/chave-composta-idClass/heranca/build/
/chave-primária-composta/chave-composta-idClass/heranca/dist/
