/chave-primária-composta/chave-composta-idClass/chave-composta-idClass/nbproject/private/
/chave-primária-composta/chave-composta-idClass/chave-composta-idClass/build/
/chave-primária-composta/chave-composta-idClass/chave-composta-idClass/dist/
/chave-primária-composta/chave-composta-idClass/heranca/nbproject/private/
/chave-primária-composta/chave-composta-idClass/heranca/build/
/chave-primária-composta/chave-composta-idClass/heranca/dist/
/chave-primária-composta/chave-composta-idClass/heranca-joined/nbproject/private/
/chave-primária-composta/chave-composta-idClass/heranca-joined/build/
/chave-primária-composta/chave-composta-idClass/heranca-joined/dist/
/chave-primária-composta/chave-composta-idClass/heranca-table-per-class/nbproject/private/
/chave-primária-composta/chave-composta-idClass/heranca-table-per-class/build/
/chave-primária-composta/chave-composta-idClass/Conta/nbproject/private/
/chave-primária-composta/chave-composta-idClass/named-query/nbproject/private/
/chave-primária-composta/chave-composta-idClass/named-query/build/
